/*
	Parallelism by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	html
	{
		height: 100%;
	}

	body
	{
		/* background-image:		url('images/overlay.png'),		-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),		url('../images/bg.png'); */
		/* background-image:		url('images/overlay.png'),		-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),	url('../images/bg.png'); */
		/* background-image:		url('images/overlay.png'),		-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),		url('../images/bg.png'); */
		/* background-image:		url('images/overlay.png'),		-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),		url('../images/bg.png'); */
		/* background-image:		url('images/overlay.png'),		linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),			url('../images/bg.png'); */

		background-image:		-moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),		url('../images/bg.png');
		background-image:		-webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),	url('../images/bg.png');
		background-image:		-o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),		url('../images/bg.png');
		background-image:		-ms-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),		url('../images/bg.png');
		background-image:		linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65)),			url('../images/bg.png');

		background-position:	top left,						bottom left,														auto;
		background-size:		auto,							100% 100%,															cover;
		background-repeat:		repeat,							no-repeat,															auto;
	}

	body
	{
		padding: 0;
		font-size: 12pt;
		line-height: 1.75em;
		height: 100%;
		min-height: 450px;
		min-width: 1000px;
	}

	/* List */

		ul
		{
		}

			ul.contact
			{
				margin-bottom: 0.5em;
			}
			
				ul.contact li
				{
					margin-left: 1em;
				}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper
	{
		height: 100%;
		overflow: hidden;
		-webkit-transition: -webkit-filter 0.25s ease-in-out;
	}
	
		#wrapper.overlayed
		{
			-webkit-filter: blur(3px);
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		width: 100%;
		position: absolute;
	}

/*********************************************************************************/
/* Reel                                                                          */
/*********************************************************************************/

	#reel 
	{
		position: relative;
	}

		#reel .item
		{
			display: block;
			float: left;
			position: relative;
			overflow: hidden;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 2em 3em;
		xmin-height: 212px;
		vertical-align: middle;
	}

		#header:before
		{
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		#header .inner
		{
			display: inline-block;
			vertical-align: middle;
		}

		#header h1
		{
			font-size: 3em;
			line-height: 1em;
		}
		
		#header p
		{
			font-size: 1.25em;
			line-height: 1.5em;
			margin: 0.5em 0 0 0;
		}
		
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		background-color: #000;
		opacity: .8;
	}
	
		#footer h2
		{
			font-size: 2.25em;
			margin: 0 0 1em 0;
		}
		
		#footer .left
		{
			padding: 2em;
			width: 60%;
		}

		#footer .left p
		{
			text-align: justify;
		}

		#footer .right
		{
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 2em;
			text-align: right;
		}

		#footer .copyright
		{
		}
		
			#footer .copyright li
			{
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
				border-left: solid 1px #333;
				border-left-color: rgba(255,255,255,0.25);
				line-height: 1em;
			}
			
				#footer .copyright li:first-child
				{
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

/*********************************************************************************/
/* Popup                                                                         */
/*********************************************************************************/

	.poptrox-popup
	{
		background: #1a1f2c;
		background: rgba(18,21,29,0.9);
		box-shadow: 0px 0px 0px 10px #fff, 0px 10px 60px 10px rgba(8,11,19,0.55);
		cursor: default;
	}
	
		.poptrox-popup .loader
		{
			display: block;
			width: 48px;
			height: 48px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -24px 0 0 -24px;
			background: url('images/loader.gif');
			opacity: 0.25;
		}
		
		.poptrox-popup .caption
		{
			position: absolute;
			bottom: 0;
			left: 0;
			background: #1a1f2c;
			background: rgba(18,21,29,0.85);
			display: block;
			width: 100%;
			line-height: 75px;
			text-align: center;
			font-size: 1.25em;
			color: #fff;
		}
		
		.poptrox-popup .nav-next,
		.poptrox-popup .nav-previous,
		.poptrox-popup .closer
		{
			text-decoration: none;
			font-weight: normal;
			font-style: normal;
			-moz-transition: opacity 0.25s ease-in-out;
			-webkit-transition: opacity 0.25s ease-in-out;
			-o-transition: opacity 0.25s ease-in-out;
			-ms-transition: opacity 0.25s ease-in-out;
			transition: opacity 0.25s ease-in-out;
			opacity: 0.35;
		}

			.poptrox-popup .nav-next:hover,
			.poptrox-popup .nav-previous:hover,
			.poptrox-popup .closer:hover
			{
				opacity: 1.0;
			}
		
		.poptrox-popup .nav-next,
		.poptrox-popup .nav-previous
		{
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;

			width: 150px;
			height: 75px;
			position: absolute;
			bottom: 0;
			cursor: pointer;
			font-size: 3em;
			line-height: 75px;
		}
		
		.poptrox-popup .nav-next
		{
			right: 0;
			text-align: right;
			padding-right: 30px;
		}

			.poptrox-popup .nav-next:before
			{
				content: '\f105';
			}
		
		.poptrox-popup .nav-previous
		{
			left: 0;
			text-align: left;
			padding-left: 30px;
		}

			.poptrox-popup .nav-previous:before
			{
				content: '\f104';
			}
		
		.poptrox-popup .closer
		{
			width: 35px;
			height: 35px;
			font-size: 2em;
			line-height: 35px;
			text-align: center;
			position: absolute;
			top: -70px;
			right: -70px;
			cursor: pointer;
			border-radius: 40px;
			box-shadow: 0px 0px 0px 1px #fff;
		}
		
			.poptrox-popup .closer:before
			{
				content: "\00d7";
			}